h1.banner-heading {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}
.carousel-indicators [data-bs-target] {
  width: 10px!important;
  height: 10px!important;
  border-radius: 50%;
}



@media (max-width: 576px) {
  h1.banner-heading {
    font-size: 35px;
  }
}